<div class="favorite-list-container">
  <h1>My Favorites!</h1>
  <ul class="favorites-list">
  </ul>

  <label for="artist">Add Favorite Artist</label>
  <form class="artist-form">
    <input type="text" id="artist-list" />
    <button>Submit</button>
  </form>

  {{#each favorites as |favorite|}}
    <h1>{{favorite.name}}</h1>
  {{/each}}

</div>

<script src="https://code.jquery.com/jquery-1.12.4.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
<script src="./js/favorites.js"></script>