<div>
  <p>Signup</p>
</div>

<form class="signup-form">
  <h1>Email</h1>
  <input
    class="input is-primary"
    id="email-login"
    type="text"
    placeholder="Email"
  />
  <h1>Password</h1>
  <input
    class="input is-primary"
    id="password-login"
    type="text"
    placeholder="Password"
  />
  <button
    class="btn btn-primary login-button container"
    id="sign-up"
  >Signup</button>
</form>

<script src="./js/login.js"></script>