<div>
  <p>Signup</p>
</div>

<form class="signup-form">
  <h1>Username</h1>
  <input
    class="input is-primary"
    id="username-signup"
    type="text"
    placeholder="Username"
  />
  <h1>Password</h1>
  <input
    class="input is-primary"
    id="password-signup"
    type="text"
    placeholder="Password"
  />
  <h1>State</h1>
  <input
    class="input is-primary"
    id="state-signup"
    type="text"
    placeholder="State"
  />
  <button
    class="btn btn-primary login-button container"
    id="sign-up"
  >Signup</button>
</form>

<script src="./js/signup.js"></script>